.HomeBanner {
	background-image: url("../../../../public/img/home/banner-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	padding: 120px 0 220px;
	@media (max-width: 767px) {
		padding: 40px 0 60px;
	}
	.BannerContentSection {
		.BannerInfo {
			@media (max-width: 767px) {
				flex-direction: column-reverse;
			}
			.BannerContent {
				width: 57%;
				@media (max-width: 767px) {
					width: 100%;
					padding-top: 30px;
				}
			}
			.BannerImg {
				width: 40%;
				height: 350px;
				width: 400px;
				// padding-top: 30px;
				@media (max-width: 991px) {
					height: 260px;
					width: 280px;
				}
				@media (max-width: 767px) {
					width: 100%;
					padding-top: 0;
					height: 100%;
				}
			}
		}
	}
}
