.HomeBanner{
    height: calc(100vh - 120px);
    .BannerBG{
        height: calc(100vh - 120px);
        object-fit: cover;
    }
    .BannerContentSection{
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .BannerInfo{
            @media (max-width: 767px) {
                flex-direction: column-reverse;
            }
            .BannerContent{
                width: 57%;
                @media (max-width: 767px) {
                    width: 100%;
                    padding-top: 30px;
                }
            }
            .BannerImg{
                width: 35%;
                padding-top: 30px;
                @media (max-width: 767px) {
                    width: 100%;
                    padding-top: 60px;
                }
            }
        }
    }
}