@import "../../helpers/helpers.scss";
.HomeEvents {
	.sliderMain {
		padding: 40px 40px;
		background-color: var(--color_secondary);
		border-radius: 20px;
		@media (max-width: 1199px) {
			padding: 25px 25px;
		}
		@media (max-width: 767px) {
			padding: 15px 15px;
		}
		.card {
			@media (max-width: 767px) {
				flex-direction: column-reverse;
				border-radius: 15px;
			}
			.content {
				width: 42%;
				// @media (max-width: 1199px) {
				// 	width: 54%;
				// }
				@media (max-width: 767px) {
					width: 100%;
					margin-top: 30px;
				}
				h2{
					display: -webkit-box;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
					overflow: hidden;
					height: 135px;
					@media (max-width: 991px) {
						height: 99px;
					}
				}
				.Eventlogo{
					height: 120px;
						@media (max-width: 767px) {
						height: 90px;
					}
				}
				.tag {
					background-color: var(--color_blue);
					padding: 8px 12px;
					border-radius: 8px;
					width: max-content;
					margin-top: 30px;
				}
				.dateFlex {
					align-items: center;
					p {
						margin-right: 40px;
						@media (max-width: 991px) {
							margin-right: 20px;
						}
						img {
							filter: invert(1);
						}
						span {
							margin-left: 5px;
							margin-top: 2px;
						}
					}
				}
			}
			.imageWrapper {
				width: 54%;
				@media (max-width: 1199px) {
					//width: 54%;
				}
				@media (max-width: 767px) {
					width: 100%;
				}
				img {
					height: 360px;
					object-fit: cover;
					object-position: center;
					width: 570px;
					aspect-ratio: 570 / 360;
					@media (max-width: 1199px) {
						height: 300px;
						width: 100%;
					}
					@media (max-width: 991px) {
						height: 250px;
					}
					@media (max-width: 767px) {
						height: 200px;
					}
				}
			}
		}
		.arrowSection {
			justify-content: flex-start;
			@media (max-width: 767px) {
				justify-content: center;
				margin-top: 20px;
			}
			.customPrev,
			.customNext {
				background-color: unset;
				border: none;
				cursor: pointer;
				padding: 0px;
			}
			.customPrev {
				rotate: 180deg;
				margin-right: 10px;
			}
		}
	}
}
