@import "../../../helpers/helpers.scss";
.ContactMain{
  .formRow{

  }
  .formGroup{
    width: 48%;
    margin-bottom: 10px;
    position: relative;
    @media (max-width: 767px) {
      width: 100%;
    }
    .input{
      border-radius: 12px;
      background-color: var(--color_secondary);
      border: 1px solid var(--color_dark_gray);
      font-size: 14px;
      font-family: var(--font_secondary);
      font-weight: 400;
      line-height: 160%;
      color: var(--color_platinum_gray);
      padding: 10px 15px;
      width: 100%;
    }
    .textarea{
      border-radius: 12px;
      background-color: var(--color_secondary);
      border: 1px solid var(--color_dark_gray);
      font-size: 14px;
      font-family: var(--font_secondary);
      font-weight: 400;
      line-height: 160%;
      color: var(--color_platinum_gray);
      padding: 10px 15px;
      width: 100%;
      resize: none;
    }
    /* For Chrome, Safari, Edge, Opera */
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* For Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }
  }

  .fullWidthBox{
    width: 100%;
  }

  .label{
    color: var(--color_platinum_gray);
    font-size: 14px;
    font-family: var(--font_primary);
    font-weight: 400;
  }

  .radioBox{
    width: 100%;
    margin-bottom: 10px;
    .radioGroup {
      background-color: var(--color_secondary);
      border: 1px solid var(--color_dark_gray);
      border-radius: 12px;
      padding: 1rem;
      color: white;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .radioOption {
      display: flex;
      align-items: center;
      margin-bottom: 0.75rem;
      cursor: pointer;
      font-size: 14px;
      font-family: var(--font_primary);
      font-weight: 400;
      width: 48%;
      @media (max-width: 767px) {
				width: 100%;
			}
    }

    .radioOption input[type="radio"] {
      appearance: none;
      width: 16px;
      height: 16px;
      margin-right: 10px;
      border: 2px solid #aaa;
      border-radius: 50%;
      background-color: transparent;
      position: relative;
      cursor: pointer;
      transition: all 0.2s ease;
    }

    .radioOption input[type="radio"]:checked {
      border-color: #FFD700;
      background-color: #FFD700;
    }

    .radioOption input[type="radio"]:checked::before {
      content: "";
      position: absolute;
      top: 3px;
      left: 3px;
      width: 8px;
      height: 8px;
      background-color: #2a2a2a;
      border-radius: 50%;
    }
  }

  
}
