@import "../../../helpers/helpers.scss";
.CaseStudiesTop {
	.card {
		@media (max-width: 767px) {
			flex-direction: column-reverse;
		}
		.content {
			width: 50%;
			display: flex;
			flex-direction: column;
			// @media (max-width: 1199px) {
			// 	width: 54%;
			// }
			@media (max-width: 767px) {
				width: 100%;
				//margin-top: 30px;
			}

			.dateFlex {
				align-items: center;
				p {
					margin-right: 20px;
					padding-right: 20px;
					border-right: 1px solid var(--color_medium_gray);
					&:last-child {
						border-right: none;
					}
					img {
					}
					span {
						margin-left: 5px;
						margin-top: 2px;
					}
				}
			}
			.dateBox {
				margin-top: auto;
				padding-top: 30px;
				ul {
					padding-left: 0px;

					li {
						display: inline-block;
						list-style-type: none;
						padding-right: 15px;
						margin-right: 15px;
						border-right: 1px solid var(--color_medium_gray);
						&:last-child {
							border-right: none;
						}
					}
				}
				.downloadListenBox {
					padding: 10px 0;
					margin-top: 20px;
					border-top: 1px solid var(--color_platinum_gray);
					border-bottom: 1px solid var(--color_platinum_gray);
					@media (max-width: 767px) {
						flex-wrap: wrap;
					}
					.downloadListen {
						.downloadBox {
							@media (max-width: 767px) {
								padding: 0px 0px;
							}
							a {
								cursor: pointer;
								margin-right: 40px;
								&:last-child {
									border-right: none;
								}
								span {
									padding-left: 10px;
								}
							}
						}
					}
					.downloadListenShare {
						padding: 15px 0px;
						border-left: 1px solid var(--color_platinum_gray);
						@media (max-width: 767px) {
							width: 100%;
							border-left: none;
							border-top: 1px solid var(--color_platinum_gray);
						}
						a {
							padding-left: 20px;
						}
					}
				}
			}
		}
		.imageWrapper {
			width: 44%;

			@media (max-width: 1199px) {
				width: 46%;
			}
			@media (max-width: 767px) {
				width: 100%;
			}
			img {
				height: 287px;
				width: 500px;
				aspect-ratio: 500 / 287;
				object-fit: cover;
				object-position: center;
				@media (max-width: 1199px) {
					width: 100%;
				}
				@media (max-width: 991px) {
					height: 220px;
				}
				@media (max-width: 767px) {
					height: 200px;
				}
			}
		}
	}
}
