@import "../helpers/helpers.scss";

.Bundles {
	position: relative;

	:global(.CustomSelect) {
		width: 380px;

		@include sm-down {
			width: 100%;
		}
	}

	:global(.selectedText) {
		text-transform: uppercase;
		font-weight: 700;
	}

	.bg {
		position: absolute;
		top: 0;
		left: 50%;
		width: 90%;
		height: 100%;
		transform: translateX(-50%);
		border-radius: 40px;
		overflow: hidden;
		display: flex;
		align-items: end;
		@media (max-width: 1199px) {
			width: 97%;
		}
		img {
			width: 100%;
			opacity: 0.2;
		}

		@include sm-down {
			width: 100%;
			border-radius: 0px;
		}
	}
	.table_wrap {
		// padding: 0 50px;
		@media (max-width: 767px) {
			padding-top: 20px;
		}
		.tab_wrap {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap-reverse;

			.tabs {
				display: flex;
				gap: 10px;
				.tab {
					padding: 9px 20px;
					border-top-left-radius: 12px;
					border-top-right-radius: 12px;
					border: 1px solid #ffffff30;
					border-bottom: 0;
					cursor: pointer;

					.text {
						text-transform: uppercase;
						opacity: 0.3;
					}

					&.active {
						background-color: var(--color_white);
						border: 1px solid transparent;
						border-bottom: 0;

						.text {
							opacity: 1;
						}
					}
				}
			}
		}
		.tableMain {
			@media (max-width: 767px) {
				overflow: auto;
			}
		}
		.table {
			width: 100%;
			table-layout: fixed;
			border-collapse: collapse; /* optional: makes border cleaner */
			@media (max-width: 767px) {
				overflow: auto;
				white-space: nowrap;
				width: 170vw;
			}
			td {
				border: 1px dashed #999;
				text-align: center;
				position: relative;

				.arr {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					right: -18px;
					height: 32px;
					width: 32px;
					display: grid;
					place-items: center;
					background-color: var(--color_secondary);
					border-radius: 100%;
					// z-index: 999;
				}
			}

			.logo {
				cursor: pointer;
				position: relative;
				overflow: hidden;

				.img {
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
					object-fit: contain;
					padding: 8px;
				}
				.text {
					text-align: start;
					padding: 20px 8px;
					position: relative;
					z-index: 2;
					transform: translateX(110%);
					transition: all 0.3s ease-in-out;
				}

				&:hover {
					.text {
						transform: translateX(0);
					}
				}
			}
			.checkmarks {
				display: flex;
				gap: 10px;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 100%;
			}
			.highlighted {
				background: linear-gradient(
					90deg,
					#1d1e1e 0%,
					#1b3a37 34.54%,
					#1b3a37 75.98%,
					rgba(45, 43, 35, 0) 124.33%
				);
			}
		}
	}
}
