@import "../helpers/helpers.scss";

.selected {
	text-align: center;
	@media (max-width: 1199px) {
		padding-top: 20px;
	}
	&.hide {
		opacity: 0;
	}
}

.CircleBox {
	position: relative;
	width: 400px;
	height: 400px;
	border-radius: 50%;
	flex-direction: column;
	// background-color: #1a1a1a;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	// overflow: hidden;
	// box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	// border: 2px solid #333;
	@media (min-width: 1200px) and (max-width: 1400px) {
		width: 320px;
		height: 320px;
	}

	@include sm-down {
		width: 320px;
		height: 320px;
	}
}
.CircleBox:hover .Quadrant:first-child {
	background-color: transparent;
}
.CircleBox:hover .Quadrant:first-child .Icon {
	filter: invert(1);
}

.CenterBox {
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: #1a1a1a;
	border-radius: 50%;
	border: 2px solid #333;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	display: grid;
	place-items: center;

	.centerLogo {
		width: 80%;
		border-radius: 100%;
	}

	&.white {
		background-color: var(--color_silver);
		border: 2px solid var(--color_silver_gray);
		box-shadow: none;
	}

	@include sm-down {
		width: 100px;
		height: 100px;
	}
}
