@import "../helpers/helpers.scss";

.contentFromCms {
	a {
		color: #0070f3; /* blue-ish link color */
		text-decoration: underline; /* underline to show it's a link */
		font-weight: 500; /* slightly bold */
		transition: background-color 0.2s ease, color 0.2s ease;
	}
	p {
		margin-bottom: 15px;
		line-height: 1.4;
	}
	strong {
		font-weight: 600;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 40px;
		margin-bottom: 15px;
		font-size: 24px;

		@include xxxl-down {
			font-size: 20px;
		}
	}
}
