@import "../helpers/helpers.scss";

.contentFromCms {
	sup {
		font-size: 10px;
	}
	a {
		// color: #0070f3;
		color: var(--color_secondary);
		text-decoration: underline;
		font-weight: 500;
		transition: background-color 0.2s ease, color 0.2s ease;
	}
	p {
		margin-bottom: 15px;
		line-height: 1.6;
		&:last-child {
			margin-bottom: 0;
		}
		@media (max-width: 767px) {
			line-height: 1.5;
		}
	}
	strong {
		font-weight: 600;
	}
	h1 {
		margin-top: 40px;
		margin-bottom: 15px;
		font-size: 26px;

		&:nth-child(1) {
			margin-top: 0px;
		}

		@include xxxl-down {
			font-size: 24px;
		}
	}
	h2,
	h3 {
		margin-top: 40px;
		margin-bottom: 15px;
		font-size: 24px;

		&:nth-child(1) {
			margin-top: 0px;
		}

		@include xxxl-down {
			font-size: 20px;
		}
	}

	h4,
	h5,
	h6 {
		margin-top: 40px;
		margin-bottom: 15px;
		font-size: 20px;

		&:nth-child(1) {
			margin-top: 0px;
		}

		@include xxxl-down {
			font-size: 20px;
		}
	}

	img {
		margin: auto;
	}
}
