@import "../helpers/helpers.scss";

.iframeModal {
	:global {
		.modal {
			justify-content: end;

			&.open {
				.content {
					transform: translateX(0%);
				}
			}

			.content {
				transform: translateX(100%);
				transition: all 0.5s ease-in-out;
				// background-color: var(--color_gray);
				background-color: var(--color_white);
				width: 80%;
				height: 70%;
				.wrap {
					display: flex;
					justify-content: center;
					height: 100%;
					gap: 50px;

					.text {
						display: flex;
						flex-direction: column;
						justify-content: center;
						max-width: 380px;
						.title {
							margin-bottom: 20px;
						}
					}

					.form {
						flex: 1;
						iframe {
							border: none;
							width: 100%;
							height: 100%;
						}
					}
				}
			}
		}
	}
}
