@import "../helpers/helpers.scss";

.BannerMain {
	.inner_banner_wrap {
		@extend %relative_box;
		overflow: hidden;
		.banner_image {
			.vimeoBanner,
			video {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 20px;
			}
		}
		.VideoBox {
			position: relative;
			.playPauseBtn {
				position: absolute;
				top: 0;
				left: 0;
				cursor: pointer;
				width: 100%;
				height: 100%;
				@media (max-width: 767px) {
					right: 10px;
					bottom: 10px;
				}
				img {
					position: absolute;
					right: 20px;
					bottom: 20px;
					@media (max-width: 767px) {
						width: 30px;
					}
				}
			}
			.vimeoPlayer {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 20px;
				overflow: hidden;
			}
		}
	}
	.flexBox {
		@media (max-width: 991px) {
			flex-wrap: wrap;
		}
		.flexItemOne {
			width: 56%;
			@media (max-width: 1199px) {
				width: 50%;
			}
			@media (max-width: 767px) {
				width: 100%;
				margin-bottom: 20px;
			}
			h1,
			h2 {
				letter-spacing: -0.55px;
				// @media (max-width: 1199px) {
				// 	letter-spacing: -1px;
				// }
			}
		}
		.flexItemTwo {
			width: 40%;
			@media (max-width: 1199px) {
				width: 46%;
			}
			// @media (max-width: 991px) {
			// 	width: 42%;
			// }
			@media (max-width: 767px) {
				width: 100%;
			}
			.bookBtn {
				display: inline-block;
			}
		}
	}
}
