@import "../helpers/helpers.scss";

.mapContainer {
	border-radius: 20px;

	@include lg-down {
		height: 600px !important;
		width: 100% !important;
	}

	:global(.gm-style-iw.gm-style-iw-c) {
		// border-radius: 100px;
		padding: 0;
		background-color: transparent;
		transform: translateX(calc(-100% - 15px)) translateY(-50%);
	}
	:global(.gm-style-iw-d) {
		overflow: hidden !important;
	}
	:global(.gm-style-iw-tc) {
		display: none;
	}
	:global(.gm-style-iw-chr) {
		display: none !important;
		transform: translateY(25px) translateX(-10px);
		button {
			background-color: var(--color_white) !important;
			border-radius: 100%;
			width: 20px !important;
			height: 20px !important;

			span {
				margin: auto !important;
				width: 80% !important;
				height: 80% !important;
			}
		}
	}
	// :global(.gm-style-iw-chr) {
	// 	position: absolute;
	// 	top: 0;
	// 	right: 0;
	// 	display: none;

	// 	button {
	// 		width: unset !important;
	// 		height: unset !important;
	// 		span {
	// 			margin: 0px !important;
	// 		}
	// 	}
	// }

	&:has(.isHoverImg) {
		:global(.gm-style-iw-chr) {
			display: flex;
		}
	}

	.markerHover {
		padding: 5px 15px;
		color: var(--color_white);
		border-radius: 100px;
		background-color: var(--color_black);
		// transform: translateX(50px);
		// width: max-content;

		&.isHoverImg {
			border-radius: 8px;
			padding: 20px 12px;
			padding-top: 30px;
			background-color: var(--color_white);
			color: var(--color_secondary);
			img {
				max-width: 180px;
				border-radius: 12px;
				margin-bottom: 12px;
			}
			p {
				position: relative;
				padding-left: 15px;
				&::before {
					content: "";
					width: 8px;
					height: 8px;
					background-color: var(--color_primary);
					position: absolute;
					top: 50%;
					left: 0;
					transform: translateY(-50%);
					border-radius: 100%;
				}
			}
		}
	}
}
