@import "../helpers/helpers.scss";

.mapContainer {
	@include lg-down {
		height: 600px !important;
		width: 100% !important;
	}

	:global(.gm-style-iw.gm-style-iw-c) {
		border-radius: 100px;
		padding: 0;
		background-color: var(--color_blue);
		transform: translateX(-120%) translateY(-40%);
	}
	:global(.gm-style-iw-d) {
		overflow: hidden !important;
	}
	:global(.gm-style-iw-tc) {
		display: none;
	}
	:global(.gm-style-iw-chr) {
		position: absolute;
		top: 0;
		right: 0;
		display: none;

		button {
			width: unset !important;
			height: unset !important;
			span {
				margin: 0px !important;
			}
		}
	}
	.markerHover {
		padding: 10px 15px;
		color: var(--color_white);

		// padding-top: 20px;
	}
}
