@import "../helpers/helpers.scss";

.SmarterEnergy {
	background-image: url("../../../public/img/softwares/energy_bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
	.common_queries_flex {
		.title_wrap {
			width: 40%;
			@media (max-width: 991px) {
				width: 100%;
				margin-bottom: 40px;
			}
		}
		.common_queries_faq {
			width: 50%;
			@media (max-width: 991px) {
				width: 100%;
			}
			// .content_wrap {
			// 	padding-left: 45px;
			// }
		}
	}
	:global(.headerF) {
		display: flex;
	}
	:global(.imgIcons) {
		margin-right: 10px;
	}

	:global {
		.modal {
			.content {
				width: 80%;
				@media (max-width: 991px) {
					width: 100%;
					max-height: 100%;
					padding: 60px 20px 20px;
				}
			}
		}
	}
	:global(.closeBtn) {
		position: fixed;
		@media (max-width: 767px) {
			top: 30px;
		}
	}

	.popup {
		padding: 50px;
		@media (max-width: 1199px) {
			padding: 20px;
		}
		@media (max-width: 991px) {
			padding: 0px;
		}
		:global {
			.icon {
				img {
					filter: invert(1);
				}
			}
			.accordionItem {
				border-color: #2c2c2c;
			}
		}

		.accordian_main {
			border-top: 1px solid #2c2c2c;
			padding-top: 40px;
			margin-top: 50px;

			.listItem {
				background-color: var(--color_gray);
				display: flex;
				border-radius: 12px;
				padding: 8px;
				gap: 20px;
				flex-wrap: wrap;
				margin-bottom: 10px;
				.category {
					background-color: var(--color_blue);
					border-radius: 12px;
					padding: 12px;
					width: 200px;
					justify-content: center;
				}

				> div {
					display: flex;
					align-items: center;
					gap: 8px;
				}
				.date {
					width: 100px;
				}
				.time {
					width: 120px;
				}
			}
		}
	}
}
