@import "../helpers/helpers.scss";

.Speedometer {
	position: relative;

	.speedometerSvg {
		@include sm-down {
			width: 100%;
			height: max-content;
		}
	}
	.text {
		width: max-content;
		@extend %rel_x_center;
		bottom: 0;
		.countWrap {
			position: relative;
			width: max-content;
			margin: 0 auto;
			margin-bottom: 25px;
			text-align: center;
			// width: 200px;

			@include lg-down {
				width: 150px;
			}
			@include sm-down {
				width: max-content;
				margin-bottom: 10px;
			}

			.count {
				font-size: 115px;
				@include lg-down {
					font-size: 95px;
				}
				@include sm-down {
					font-size: 55px;
				}
			}
			.plus {
				height: max-content;
				position: absolute;
				top: 0;
				right: -40px;
				@include sm-down {
					right: -30px;
				}
			}
		}
		.bottomText {
			text-transform: uppercase;
			text-align: center;
		}
	}
}
