@import "../helpers/helpers.scss";

.TestimonialFeedback {
	.testimonialBox {
		padding: 0px 0px;
		@media (max-width: 767px) {
			padding: 0px 0px;
		}
		.testimonialWhiteBox {
			background-color: var(--color_white);
			border-radius: 20px;

			.testimonialItem {
				padding: 30px 70px;
				@media (max-width: 1199px) {
					padding: 30px 50px;
				}
				@media (max-width: 767px) {
					padding: 30px 20px 30px 40px;
				}
			}
			.testimonialTxt {
				position: relative;
				p {
					position: relative;
					align-items: flex-start;
					img {
						position: absolute;
						left: -35px;
						margin-top: 4px;
						margin-right: 10px;
						@media (max-width: 767px) {
							left: -30px;
							margin-right: 5px;
						}
					}
				}
				.quate {
					position: absolute;
					left: -30px;
					top: 4px;
					@media (max-width: 767px) {
						top: 3px;
					}
				}
			}
			.nameTxtWrap {
				border-top: 2px solid var(--color_platinum_gray);
				margin-top: 10px;
				padding: 30px 0px 0px;
				justify-content: space-between;
				@media (max-width: 767px) {
					flex-wrap: wrap;
				}
				.nameTxt {
					width: 70%;
					@media (max-width: 767px) {
						width: 100%;
					}
				}
				.arrowSection {
					// position: absolute;
					// right: 80px;
					// bottom: 50px;
					z-index: 1;
					// @media (max-width: 1199px) {
					// 	right: 55px;
					// }
					@media (max-width: 767px) {
						// right: 30px;
						width: 94px;
						margin: 20px auto 0px;
					}
					.customPrev,
					.customNext {
						background-color: unset;
						border: none;
						cursor: pointer;
						img {
							@media (max-width: 767px) {
								width: 35px;
							}
						}
					}
					.customPrev {
						rotate: 180deg;
					}
				}
			}
			.nameTxt {
				// border-top: 2px solid var(--color_platinum_gray);
			}
		}
	}
}
