@import "../helpers/helpers.scss";

.SmarterEnergy {
	background-image: url("../../../public/img/softwares/energy_bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
	:global(.content) {
		max-height: 80vh;
		overflow-y: auto;
	}

	.common_queries_flex {
		.title_wrap {
			width: 40%;
			@media (max-width: 991px) {
				width: 100%;
				margin-bottom: 40px;
			}
		}
		.common_queries_faq {
			width: 50%;
			@media (max-width: 991px) {
				width: 100%;
			}
			.content_wrap {
				padding-left: 0px;
			}
		}
	}
	:global(.headerF) {
		display: flex;
	}
	:global(.imgIcons) {
		margin-right: 10px;
	}
	:global(.accordionContent) {
		padding-left: 0px !important;
	}

	:global {
		.modal {
			.content {
				width: 80%;
				@media (max-width: 991px) {
					width: 100% !important;
					max-height: 100vh;
					height: 100vh !important;
					padding: 60px 20px 20px;
				}
				p {
					a {
						color: var(--color_white);
					}
				}
			}
		}
	}
	:global(.closeBtn) {
		position: fixed;
		@media (max-width: 767px) {
			top: 30px;
		}
	}
	.popup {
		padding: 30px;
		@media (max-width: 1199px) {
			padding: 20px;
		}
		@media (max-width: 991px) {
			padding: 10px;
		}
		@media (max-width: 767px) {
			padding: 0px;
		}
		:global {
			.icon {
				img {
					filter: invert(1);
				}
			}
			.accordionItem {
				border-color: #2c2c2c;
			}
		}
		.accordian_main {
			border-top: 1px solid #2c2c2c;
			padding-top: 0px;
			margin-top: 50px;
		}
	}
}
