@import "../helpers/helpers.scss";
.TrustedLeaders {
	:global(.swiper-horizontal) {
		padding-bottom: 60px;
		@media (max-width: 767px) {
			padding-bottom: 50px;
		}
	}
	:global(.swiper-pagination-horizontal) {
		bottom: 0px !important;
		left: 50% !important;
		width: max-content !important;
		transform: translateX(-50%) !important;
		background-color: rgba(229, 229, 229, 0.5);
		padding: 0px 10px 4px;
		border-radius: 50px;
	}
	:global(.swiper-pagination-bullet) {
		width: 8px;
		height: 8px;
		text-align: center;
		font-size: 14px;
		font-family: var(--font_primary);
		font-weight: 600;
		color: var(--color_secondary);
		opacity: 1;
		background: var(--color_medium_gray);
		transition: 0.5s all;
	}
	:global(.swiper-pagination-bullet-active) {
		color: #fff;
		background: var(--color_secondary);
		width: 50px;
		border-radius: 50px;
		transition: 0.5s all;
	}

	.box_wrap {
		// display: grid;
		// grid-template-columns: repeat(5, 1fr);
		// grid-gap: 20px;
		// @media (max-width: 767px) {
		// 	grid-template-columns: repeat(1, 1fr);
		// }
		.box_item {
			position: relative;
			padding: 0px 20px 20px 0px;

			&::after {
				content: " ";
				position: absolute;
				right: 0px;
				top: 0px;
				height: 90%;
				width: 1px;
				background-color: #e5e5e5;
			}
			&::before {
				content: " ";
				position: absolute;
				bottom: 0px;
				left: 0px;
				height: 1px;
				width: 90%;
				background-color: #e5e5e5;
			}
			.imgBox {
				border-radius: 8px;
				padding: 30px 30px;
				display: flex;
				align-items: center;
				justify-content: center;
				height: 155px;
				transition: 0.5s all;
				@media (max-width: 1199px) {
					height: 120px;
				}
				&:hover {
					background-color: var(--color_white);
					transition: 0.5s all;
				}
			}

			&:nth-child(10n + 6),
			&:nth-child(10n + 7),
			&:nth-child(10n + 8),
			&:nth-child(10n + 9),
			&:nth-child(10n + 10) {
				/* ✅ Styles applied to 6–10, 16–20, 26–30, etc. */
				&::before {
					background-color: transparent;
				}
			}
		}
	}
	:global(.swiper-wrapper) {
		flex-wrap: wrap !important;
	}
	:global(.swiper-slide) {
		&:nth-child(10n + 6),
		&:nth-child(10n + 7),
		&:nth-child(10n + 8),
		&:nth-child(10n + 9),
		&:nth-child(10n + 10) {
			/* ✅ Styles applied to 6–10, 16–20, 26–30, etc. */
			.box_item {
				&::before {
					background-color: transparent;
				}
			}
		}
	}
	// :global(.swiper-slide) {
	// 	&:nth-last-of-type(5) {
	// 		background-color: red;
	// 	}
	// }
}
