@import "../../helpers/helpers.scss";

@keyframes line_animation {
	0% {
		transform: scaleX(0);
	}

	100% {
		transform: scaleX(1);
	}
}

// Common Styles
.btn_common_styles {
	cursor: pointer;
	border: 2px solid transparent;
	padding: 10px 25px;
	border-radius: 5px;
	transition: all 0.2s ease-in;
	//width: 150px;

	.textWrap {
		overflow: hidden;
		position: relative;
		text-align: center;
		width: 100%;

		.animatedText2 {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, 150%);
			width: 100%;
			z-index: 2;
		}

		.animatedText1 {
			display: block;
			position: relative;
			z-index: 2;
		}

		.animatedText1,
		.animatedText2 {
			transition: transform 0.5s ease-in-out;
		}
	}

	&.mode_max {
		width: max-content;
	}
}

// Filled Button
.btn_filled {
	// Filled Secondary Button
	&.btn_secondary {
		background-color: transparent;
		color: var(--color_black);
		border: 1px solid var(--color_black);

		&:hover {
			border: 2px solid var(--color_black);

			p {
				font-weight: 600;
			}
		}

		&.mode_dark {
			color: var(--color_white);
			border: 1px solid var(--color_white);

			&:hover {
				border: 2px solid var(--color_white);

				p {
					font-weight: 600;
				}
			}
		}
	}

	// Filled Primary Button
	&.btn_primary {
		background-color: var(--color_black);
		color: var(--color_white);
		position: relative;
		overflow: hidden;
		border: 0px solid transparent;
		transition: all 0.4s ease-in-out;

		&::after {
			content: "";
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			width: 100%;
			height: 100%;
			bottom: 0;
			background-color: var(--color_primary);
			z-index: 1;
			border-radius: 5px;
			clip-path: circle(0% at 50% 100%);
			transition: all 0.5s ease-in-out;
		}

		&:hover {
			background-color: transparent;
			filter: drop-shadow(0px 0px 10px #ffcc00);
			.animatedText1 {
				transform: translateY(-100%);
			}
			.animatedText2 {
				transform: translate(-50%, -50%);
				color: var(--color_black);
			}
			&::after {
				clip-path: circle(100% at 50% 100%);
				transform: translateX(-50%) scale(1.2);
			}
			// background-color: var(--color_secondary_light);
		}

		&.mode_dark {
			background-color: var(--color_white);
			color: var(--color_black);

			&:hover {
				.animatedText2 {
					color: var(--color_black) !important;
				}
			}
		}
		&.mode_black {
			background-color: var(--color_white);
			color: var(--color_black);

			&:hover {
				.animatedText2 {
					background-color: var(--color_black);
					color: var(--color_white) !important;
				}
			}
		}
		&.hover_white {
			.animatedText2 {
				color: var(--color_black);
			}
			&::after {
				background-color: var(--color_white);
			}
		}
	}

	// Filled White Button
	&.btn_white {
		background-color: var(--color_white);
		color: var(--color_black);
		position: relative;
		overflow: hidden;
		border: 0px solid transparent;
		transition: all 0.4s ease-in-out;

		&::after {
			content: "";
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			width: 100%;
			height: 100%;
			bottom: 0;
			background-color: var(--color_primary);
			z-index: 1;
			border-radius: 5px;
			clip-path: circle(0% at 50% 100%);
			transition: all 0.5s ease-in-out;
		}

		&:hover {
			background-color: transparent;
			filter: drop-shadow(0px 0px 10px #ffcc00);
			.animatedText1 {
				transform: translateY(-100%);
			}
			.animatedText2 {
				transform: translate(-50%, -50%);
			}
			&::after {
				clip-path: circle(100% at 50% 100%);
				transform: translateX(-50%) scale(1.2);
			}
			// background-color: var(--color_secondary_light);
		}

		&.mode_dark {
			background-color: var(--color_white);
			color: var(--color_black);

			&:hover {
				.animatedText2 {
					color: var(--color_black) !important;
				}
			}
		}
		&.mode_black {
			background-color: var(--color_white);
			color: var(--color_black);

			&:hover {
				.animatedText2 {
					background-color: var(--color_black);
					color: var(--color_white) !important;
				}
			}
		}
	}

	// Filled Squared Button
	&.squared {
		border-radius: 0px;
	}

	// Filled Rounded Button
	&.rounded {
		border-radius: 50px;
	}
}

// Outlined Button
.btn_outlined {
	background-color: transparent;

	// Outlined Primary Button
	&.btn_primary {
		border-color: var(--color_primary);
		color: var(--color_primary);

		&:hover {
			border-color: var(--color_primary_light);
			color: var(--color_primary_light);
		}
	}

	// Outlined Secondary Button
	&.btn_secondary {
		border-color: var(--color_secondary);
		color: var(--color_secondary);

		&:hover {
			border-color: var(--color_secondary_light);
			color: var(--color_secondary_light);
		}
	}

	// Outlined Squared Button
	&.squared {
		border-radius: 0px;
	}

	// Outlined Rounded Button
	&.rounded {
		border-radius: 50px;
	}
}

// For Underline Button
.btn_underline {
	@extend %f_r_a_center;
	border: none;
	background: transparent;
	padding: 0;
	padding-top: 4px;
	padding-bottom: 4px;
	@extend %relative_box;
	width: max-content;
	color: var(--color_secondary);

	&:after {
		content: "";
		@extend %full_overlay;
		top: unset;
		bottom: 0px;
		height: 1px;
		transform-origin: left;
		background-color: var(--color_secondary);
	}

	.animatedText2 {
		transform: translate(-170%, -50%) !important;
	}

	&:hover {
		.animatedText1 {
			transform: translateX(120%);
		}
		.animatedText2 {
			transform: translate(-50%, -50%) !important;
		}

		&:after {
			// animation: line_animation 0.6s ease-in-out;
		}
	}

	&.mode_dark {
		color: var(--color_white);

		&:after {
			background-color: var(--color_white);
		}
	}
}
