$browser-prefixes: false !default;

:root {
	// Fonts
	--font_primary: "Inter", serif;
	--font_secondary: "Lato", serif;

	// Primary colors
	--color_primary: #ffcc00;
	--color_primary_shade: #ffd940;
	--color_primary_light: #ffe57f;
	--color_primary_tint: #fff2bf;
	--color_primary_tint: #fff9df;
	// Secondary colors
	--color_secondary_tint: #87a8ab;
	--color_secondary_light: #6f969b;
	--color_secondary: #1d1d1d;
	--color_secondary_shade: #4b696c;
	--color_secondary_dark: #3b5254;
	--color_secondary_deep: #2a3a3c;
	--color_secondary_contrast: #ffffff;
	// Secondary colors
	--color_black: #000000;
	--color_white: #ffffff;
	--light_blue: #00b6ed;

	// Extras
	--container_width: 100%;
	--container_left_space: calc((100% - var(--container_width)) / 2);
	--transition: ease all 300ms;

	@media (min-width: 768px) and (max-width: 991px) {
		--container_width: 750px;
	}

	@media (min-width: 992px) and (max-width: 1199px) {
		--container_width: 970px;
	}

	@media (min-width: 1200px) {
		--container_width: 1170px;
	}

	// @media (min-width: 1401px) {
	//   --container_width: 1360px;
	// }
}
