@import "../../helpers/helpers.scss";
.PublicWebinar {
	.publicFlex {
		@media (max-width: 991px) {
			flex-wrap: wrap;
		}
		.categoryTxt {
			position: relative;
			padding-left: 10px;
			letter-spacing: 1.12px;
			&::before {
				content: " ";
				position: absolute;
				left: 0;
				top: 8px;
				width: 4px;
				height: 4px;
				background-color: var(--color_white);
				border-radius: 50%;
			}
		}
		.descTxt {
			// display: -webkit-box;
			// -webkit-line-clamp: 3;
			// -webkit-box-orient: vertical;
			// overflow: hidden;
		}
		.dateFlex {
			align-items: center;
			span {
				margin-left: 5px;
				margin-top: 2px;
			}
		}
		.publicRight {
			width: 58%;
			display: flex;
			flex-direction: column;
			@media (max-width: 991px) {
				width: 50%;
			}
			@media (max-width: 767px) {
				width: 100%;
				margin-bottom: 60px;
			}
			.ItemBox {
				flex: 1;
				border-radius: 20px;
				display: flex;
				align-items: flex-end;
				flex-direction: column;
				padding: 30px 0px;
				padding-bottom: 0;
				padding-top: 0;
				.categoryTxt {
					&::before {
						background-color: var(--color_primary);
					}
				}
				.banner {
					// height: 80%;
					flex: 1;
				}
				.case_img {
					height: 100%;
					object-fit: cover;
				}
				.case_img_logo {
					position: absolute;
					left: 10px;
					bottom: 10px;
					width: 30%;
				}
				@media (max-width: 991px) {
					padding: 30px 20px;
					padding-top: 0;
					// height: 440px;
				}
				@media (max-width: 767px) {
					// height: 300px;
				}
				.insideBox {
					height: 100%;
					display: flex;
					flex-direction: column;
				}
			}
			.bookBtnOne {
				margin-top: auto;
			}
		}
		.publicleft {
			width: 40%;
			@media (max-width: 991px) {
				width: 48%;
			}
			@media (max-width: 767px) {
				width: 100%;
			}
			.webinarBox {
				border-left: 1px solid var(--color_platinum_gray);
				@media (max-width: 767px) {
					border-left: none;
				}
				.webinarItem {
					margin-left: 10px;
					@media (max-width: 767px) {
						margin-left: 0px;
					}
					.contentBox {
						border-bottom: 1px solid var(--color_platinum_gray);
						padding: 20px 20px;
						@media (max-width: 991px) {
							padding: 15px 0px;
						}
						.categoryTxt {
							&::before {
								background-color: var(--color_primary);
							}
						}
					}
				}
			}
		}
	}
}
