@import "../../helpers/helpers.scss";
.WhichProducts {
	.common_queries_faq {
		.content_wrap {
			// padding-left: 55px;
			width: 80%;
			@media (max-width: 767px) {
				// padding-left: 55px;
			}
		}
	}
	:global(.headerF) {
		display: flex;
		align-items: flex-start;
	}
	:global(.imgIcons) {
		margin-right: 15px;
		width: 40px;
		// @media (max-width: 767px) {

		// }
	}
}
