@import "../../helpers/helpers.scss";

.DepartmentList {
	position: relative;
	.topNav {
		border-top: 1px solid var(--color_platinum_gray);
		border-bottom: 1px solid var(--color_platinum_gray);
		padding: 8px 0px;
		position: sticky;
		top: var(--header_height);
		left: 0;
		background-color: var(--color_silver);
		z-index: 99;
		.filterflexMain {
			flex-wrap: wrap;
			.filterflex {
				display: flex;
				position: relative;
				align-items: center;
				// width: 30%;
				@media screen and (min-width: 767px) and (max-width: 992px) {
					// width: 40%;
				}
				@media screen and (max-width: 767px) {
					flex-wrap: wrap;
				}
				.selectBox {
					position: relative;
					// width: 19%;
					border: 0;
					border-radius: 0;
					flex: 1;
					// padding-bottom: 5px;
					// border-bottom: 1px solid #f8f8f8;
					@media screen and (max-width: 767px) {
						width: 100%;
					}
					.custom_select {
						width: max-content;
						.select_header_wapper {
							border-right: 1px solid var(--color_platinum_gray);
							padding: 0px 15px;
							@media screen and (max-width: 1199px) {
								padding: 0px 8px;
							}

							@media screen and (max-width: 767px) {
								border-right: none;
								padding: 10px 0px;
							}
							.select_header {
								position: relative;
								// background-image: url("../../../../public/img/icons/dropdown_arrow.svg");
								// background-repeat: no-repeat;
								// background-position: 95% 58%;
								padding: 10px 15px;
								border-radius: 50px;
								cursor: pointer;
								padding-right: 40px;
								transition: 0.5s all;
								@media screen and (min-width: 768px) and (max-width: 1199px) {
									padding: 10px 10px;
								}

								@media screen and (max-width: 767px) {
									background-color: var(--color_white);
								}
								img {
									position: absolute;
									right: 10px;
									top: 15px;
									@media screen and (min-width: 768px) and (max-width: 1199px) {
										right: 5px;
									}
								}
								&:hover {
									background-color: var(--color_white);
									transition: 0.5s all;
								}
								&.active {
									background-color: var(--color_secondary);
									color: var(--color_white);
								}
							}
						}

						.selectOptionBox {
							position: absolute;
							top: 50px;
							left: 0%;
							background: var(--color_white);
							border-radius: 10px;
							max-height: fit-content;
							z-index: 5;
							padding: 0px 0px;
							list-style-type: none;
							width: 100%;
							color: var(--color_secondary);
							transition: 0.5s all;
							box-shadow: 5px 8px 25px rgba(0, 0, 0, 0.1);
							li {
								padding: 10px 20px;
								transition: 0.5s all;
								font-size: 14px;
								line-height: 1.4;
								font-weight: 400;
								font-family: var(--font_secondary);
								&:first-child {
									border-top-left-radius: 10px;
									border-top-right-radius: 10px;
								}
								&:last-child {
									border-bottom-left-radius: 10px;
									border-bottom-right-radius: 10px;
								}
								&:hover {
									background-color: var(--color_primary);
									transition: 0.5s all;
								}
							}
							.select_option {
								position: relative;
								cursor: pointer;
								padding: 0px 25px 5px;
								span {
									position: relative;
									&::before {
										content: " ";
										position: absolute;
										left: -12px;
										top: 50%;
										transform: translateY(-50%);
										width: 5px;
										height: 5px;
										background-color: var(--color_white);
										opacity: 0;
									}
									&:hover {
										font-weight: 700;
									}
								}
								&:hover {
									font-weight: 700;
									span {
										&::before {
											opacity: 1;
										}
									}
								}
								&.selected {
									span {
										font-weight: 700;
										&::before {
											opacity: 1;
										}
									}
								}
							}
							// ::-webkit-scrollbar {
							// 	width: 3px;
							// 	background: transparent;
							// }
							// ::-webkit-scrollbar-track {
							// 	border-radius: 50px;
							// }
							// ::-webkit-scrollbar-thumb {
							// 	background: var(--color_white);
							// 	border-radius: 50px;
							// 	height: 20px;
							// }
						}
						.checkBoxWapper {
							width: 550px;
							left: 50%;
							transform: translateX(-50%);
							padding: 40px 40px;
							display: grid;
							// grid-template-columns: repeat(3, 1fr);
							grid-template-columns: repeat(3, 1fr); // 2 columns
							gap: 16px;
							@media screen and (max-width: 1110px) {
								width: 300px;
								padding: 20px 20px;
								grid-template-columns: repeat(2, 1fr);
							}
							@media screen and (max-width: 767px) {
								padding: 30px 20px;
								width: max-content;
								grid-template-columns: repeat(1, 1fr);
							}
							.checkBoxItem {
								display: flex;
								flex-direction: column;
								gap: 8px;
								cursor: pointer;
								// width: 33.33%;
								// padding-right: 15px;
								// @media screen and (max-width: 767px) {
								// 	width: 100%;
								// 	padding-right: 0px;
								// 	margin-bottom: 20px;
								// }
								&:hover {
									display: block;
									background-color: var(--color_primary);
								}
								h4 {
									cursor: pointer;
								}
								padding-left: 20px;
								// display: none;
								h4 {
									cursor: pointer;
								}
								@media screen and (max-width: 767px) {
									padding-left: 10px;
								}

								.checkboxLabel {
									display: flex;
									align-items: center;
									cursor: pointer;
									font-size: 14px;
									line-height: 1.4;
									font-weight: 400;
									font-family: var(--font_primary);
									color: var(--color_dark_gray);
									user-select: none;
									margin-top: 15px;
								}

								.hiddenRadio {
									display: none;
								}

								.customRadio {
									display: inline-block;
									width: 16px;
									height: 16px;
									border: 2px solid #555;
									border-radius: 50%;
									position: relative;
									margin-right: 8px;
								}

								.hiddenRadio:checked + .customRadio {
									background-color: var(--color_primary_shade);
									border-color: var(--color_primary_shade);
								}

								.hiddenRadio:checked + .customRadio::after {
									content: "";
									width: 8px;
									height: 8px;
									background: var(--color_secondary);
									border-radius: 50%;
									position: absolute;
									top: 50%;
									left: 50%;
									transform: translate(-50%, -50%);
								}
							}
						}
					}
				}
				.searchInput {
					position: absolute;
					right: 0px;
					top: 0px;
					width: 100%;
					border: 1px solid var(--color_platinum_gray);
					background-color: var(--color_white);
					border-radius: 50px;
					padding: 10px 20px;
					transition: 0.5s all;
					input {
						width: 100%;
						border: none;
						font-size: 16px;
						line-height: 1.4;
						font-weight: 400;
						font-family: var(--font_primary);
						color: var(--color_dark_gray);
						&::placeholder {
							color: var(--color_dark_gray);
						}
						&:focus-visible {
							outline: none;
						}
					}
					span {
						cursor: pointer;
						img {
							margin-right: 10px;
						}
						.closeBox {
							width: 28px;
							height: 26px;
							line-height: 26px;
							border-radius: 50%;
							background-color: var(--color_platinum_gray);
							display: flex;
							align-items: center;
							justify-content: center;
							font-size: 18px;
						}
					}
				}
			}
		}
	}
	.topNavContentMain {
		.topNavContent {
			.teamDetails {
				.teamDetailsFlex {
					.teamDetailsItem {
						&:first-child {
							width: 40%;
							@media (max-width: 767px) {
								width: 100%;
								margin-bottom: 30px;
							}
						}
						&:last-child {
							width: 58%;
							@media (max-width: 767px) {
								width: 100%;
							}
						}
					}
				}
			}
			.leadDetails {
				position: relative;
				background-image: url("../../../../public/img/softwares/energy_bg.png");
				background-repeat: no-repeat;
				background-size: cover;
				background-position: bottom center;
				.bgImg {
				}
				.leadDetailsFlex {
					padding: 60px 60px;
					@media (max-width: 767px) {
						padding: 25px;
					}
					.leadDetailsItem {
						&:first-child {
							width: 30%;
							position: relative;
							@media (max-width: 767px) {
								width: 100%;
								margin-bottom: 30px;
							}
							.leadThumb {
								position: relative;
								.popUp {
									position: absolute;
									bottom: 0;
									right: 0px;
									width: 100%;
									height: auto;
									img {
										width: 100%;
									}
								}
							}
						}
						&:last-child {
							width: 67%;
							@media (max-width: 767px) {
								width: 100%;
							}
						}
						.leadDetailsContent {
						}
						.leadDetailsContentSocial {
							padding: 30px 0 20px;
							border-bottom: 1px solid rgba(206, 206, 206, 0.2);
							img {
								display: inline-block;
								margin-right: 10px;
							}
						}
						.leadDetailsInfo {
							.leadDetailsInfoInner {
								.headTxt {
									padding-bottom: 10px;
								}
							}
						}
					}
				}
			}
		}
	}
}
