@import "../../helpers/helpers.scss";
.JobOpenings {
	.title_wrap {
	}
	.tableBox {
		@media (max-width: 991px) {
			overflow-x: scroll;
			white-space: nowrap;
			}
		table {
			border-collapse: collapse;
			width: 100%;
			border-top: 1px solid var(--color_dark_gray);
			
		}
		td,
		th {
			border-bottom: 1px solid var(--color_dark_gray);
			text-align: left;
			padding: 25px 20px;
			
		}
	}
}
