@import "../../helpers/helpers.scss";

.testimonialWhiteBox {
	background-color: var(--color_primary);
	border-radius: 20px;
	.testimonialItem {
	padding: 40px 40px;
	align-items: center;
	@media (max-width: 1199px) {
		padding: 30px 30px;
		align-items: flex-start;
	}
	@media (max-width: 991px) {
		padding: 20px 20px;
	}

	.productLogoBox {
		width: 20%;
		@media (max-width: 991px) {
			width: 25%;
		}
		@media (max-width: 767px) {
			width: 100%;
			margin-bottom: 20px;
		}
		.LogoBox {
			img {
				width: 100%;
			}
		}
		.videoBox {
			position: relative;
			cursor: pointer;
			.videoThumbnail {
				width: 100%;
			}
			.playIcon {
				position: absolute;
				bottom: 10px;
				right: 10px;
			}
		}
	}
	.testimonialTxt {
		width: 76%;
		@media (max-width: 991px) {
			width: 70%;
		}
		@media (max-width: 767px) {
			width: 100%;
		}
		.bookBtnOne {
			cursor: pointer;
		}
		p {
			img {
				position: absolute;
				left: -35px;
				margin-top: 4px;
				margin-right: 10px;
				@media (max-width: 767px) {
					left: -30px;
					margin-right: 5px;
				}
			}
		}
	}
}
}

