@import "../../helpers/helpers.scss";

.SoftwareMarket {
	.inner {
		display: flex;
		justify-content: space-between;
		--gap: calc(18px / 2);

		@include lg-down {
			flex-direction: column;
		}

		.left {
			flex: 1;
			padding-right: 18px;
			@media (max-width: 1199px) {
				margin-bottom: 40px;
			}
			.meetTitle {
				margin-top: 60px;
				margin-bottom: 20px;
			}
			.dropdownWrap {
				margin-bottom: 40px;
				.label {
					margin-bottom: 16px;
				}
				.bookBtn {
					button {
						width: 100%;
						margin-top: 20px;
					}
				}

				.author {
					padding: 20px 0;
					border: 1px solid #e5e5e5;
					border-left: 0;
					border-right: 0;
					border-top: 0;
					margin-top: 0px;

					&:last-child {
						border-bottom: 0px;
					}

					.authorInner {
						display: flex;
						align-items: center;
						gap: 12px;
						.pic {
							box-shadow: 0px 4px 19px 0px rgba(255, 204, 0, 0.5);
							border-radius: 100%;
							width: 60px;
							height: 60px;
							overflow: hidden;
							border: 2px solid #ffcc0080;
						}
					}
				}
				.upcoming {
					padding: 20px 0;
					display: flex;
					justify-content: space-between;
					border-bottom: 1px solid #e5e5e5;
				}
			}
		}

		.right {
			height: 500px;
			.mapContainer {
				@include lg-down {
					height: 600px;
				}
			}
			.markerDetail {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 40px;
				margin-top: 12px;

				.detailText {
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 5px;
					&::before {
						content: "";
						display: block;
						width: 8px;
						height: 8px;
						border-radius: 100%;
					}

					&:nth-child(1) {
						&::before {
							background-color: #99e7ff;
						}
					}
					&:nth-child(2) {
						&::before {
							background-color: #00b6ed;
						}
					}
				}
			}
		}
	}
}
