@import "../../helpers/helpers.scss";
.TrustOurExperts {
	.wrap {
		display: flex;
		gap: 100px;

		.trustOurBox {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			grid-gap: 0px;
			width: 50%;

			@include lg-down {
				width: 100%;
			}

			.trustOurItemOne {
				padding-top: 20px;
				padding-bottom: 20px;
				border-bottom: 1px solid #e5e5e5;
				display: flex;
				gap: 20px;

				&:first-child {
					padding-top: 0;
				}
			}
		}
		.placeholderImg {
			width: 50%;
			@include lg-down {
				width: 100%;
			}
			img {
				width: 100%;
			}
		}

		@include lg-down {
			flex-direction: column-reverse;
			gap: 20px;
		}
	}
}
