@import "../../helpers/helpers.scss";
.TrustOurExperts {
	h2{
		width: 48%;
		@include lg-down {
			width: 100%;
		}
	}
	.wrap {
		display: flex;
		gap: 90px;

		.trustOurBox {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			grid-gap: 0px;
			width: 45%;

			@include lg-down {
				width: 100%;
			}

			.trustOurItemOne {
				padding-top: 15px;
				padding-bottom: 15px;
				border-bottom: 1px solid #e5e5e5;
				display: flex;
				gap: 20px;

				&:first-child {
					padding-top: 0;
				}
			}
		}
		.placeholderImg {
			width: 55%;
			@include lg-down {
				width: 100%;
			}
			img {
				width: 100%;
			}
		}

		@include lg-down {
			flex-direction: column-reverse;
			gap: 20px;
		}
	}
}
