@import "../../helpers/helpers.scss";
.TransactionsBanner {
	background-image: url("../../../../public/img/transactions/bannerBg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
  background-color: #025153;
  padding: 140px 0px;
  @media (max-width: 991px) {
    padding: 100px 0px;
  }
  @media (max-width: 767px) {
    padding: 60px 0px;
  }
  .flexBox {
		@media (max-width: 991px) {
			flex-wrap: wrap;
		}
		.flexItemOne {
			width: 56%;
			@media (max-width: 991px) {
				width: 55%;
			}
			@media (max-width: 767px) {
				width: 100%;
				margin-bottom: 20px;
			}
		}
		.flexItemTwo {
			width: 40%;
			@media (max-width: 1199px) {
				width: 42%;
			}
			@media (max-width: 767px) {
				width: 100%;
			}
		}
	}
}
