@import "../../../helpers/helpers.scss";
.EnergyPage {
	background-color: var(--color_silver);
	.eventBottomBg {
		background-image: url("../../../../../public/img/events/bottomBg.png");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: bottom center;
	}
	.containerCustom {
		:global(.containerLarge) {
			width: auto !important;
			padding: 0px !important;
		}
	}
	:global(.insightsBg) {
		background-image: none !important;
		padding: 0px 0px !important;
		@media (max-width: 1340px) {
			padding: 0px 0px !important;
		}
	}
	:global(.powerBg) {
		border-bottom: none !important;
		padding-bottom: 0px !important;
		margin-bottom: 0px !important;
	}
	:global(.CareerSeries) {
		h4 {
			color: var(--color_dark_gray);
		}
		h2 {
			color: var(--color_secondary);
		}
		p {
			color: var(--color_dark_gray);
		}
		button {
			color: var(--color_dark_gray);
			border-bottom: 1px solid var(--color_dark_gray);
			border-radius: 0px;
			p {
				font-weight: 600;
			}
		}
	}
}
