@import "../../../helpers/helpers.scss";
.EnergyInsideTopSection {
	.content {
		display: flex;
		flex-direction: column;
	}
	.card {
		@media (max-width: 767px) {
			flex-direction: column-reverse;
		}
		.content {
			width: 45%;
			// @media (max-width: 1199px) {
			// 	width: 54%;
			// }
			@media (max-width: 767px) {
				width: 100%;
				margin-top: 30px;
			}

			.dateFlex {
				align-items: center;
				p {
					margin-right: 40px;
					img {
					}
					span {
						margin-left: 5px;
						margin-top: 2px;
					}
				}
			}
		}
		.imageWrapper {
			// width: 50%;
			overflow: hidden;

			img {
				object-fit: cover;
				height: 100%;
			}
			@media (max-width: 1199px) {
				// width: 54%;
			}
			@media (max-width: 767px) {
				width: 100%;
			}
		}
	}
	.dateBox {
		margin-top: auto;
		.downloadListenBox {
			padding: 10px 0;
			margin-top: 20px;
			border-top: 1px solid var(--color_platinum_gray);
			border-bottom: 1px solid var(--color_platinum_gray);
			@media (max-width: 767px) {
				flex-wrap: wrap;
			}
			.downloadListen {
				.downloadBox {
					@media (max-width: 767px) {
						padding: 15px 0px;
					}
					a {
						margin-left: 15px;
					}
				}
			}
			.downloadListenShare {
				padding: 15px 0px;
				border-left: 1px solid var(--color_platinum_gray);
				@media (max-width: 767px) {
					width: 100%;
					border-left: none;
					border-top: 1px solid var(--color_platinum_gray);
				}
				a {
					padding-left: 20px;
				}
			}
		}
	}
}
