@import "../../helpers/helpers.scss";
.EventSmarterEnergy {
	.category {
		.switchBox {
			display: flex;
			align-items: center;
			cursor: pointer;
			justify-content: center;
			width: max-content;
			margin: 0 auto;
			border-bottom: 1px solid var(--color_dark_gray);
			.listTxt {
				opacity: 0.3;
				margin: 0px 20px;
				text-transform: uppercase;
				padding-bottom: 10px;
				&:first-child {
					margin-left: 0px;
				}
				&:last-child {
					margin-right: 0px;
				}
			}

			.active {
				opacity: 1;
				border-bottom: 1px solid var(--color_white);
			}
		}
	}
	.categoryContent {
		width: 80%;
		margin: 0 auto;
		.categoryList {
			margin-top: 20px;
			p {
				margin: 0px 10px;
			}
		}
	}
}
