@import "../../helpers/helpers.scss";
.contentBox {
	iframe {
		body {
			justify-content: flex-start;
		}
		width: 100%;
		#player {
			width: 100%;
		}
	}
	h2,
	h3 {
		font-size: 32px;
		line-height: 1.2;
		font-weight: 600;
		font-family: var(--font_primary);
		margin-bottom: 20px;
		color: var(--color_secondary);

		&:nth-child(1) {
			margin-top: 0;
		}
		@media (max-width: 991px) {
			font-size: 25px;
		}
	}

	h5 {
		font-size: 18px;
		line-height: 1.6;
		font-weight: 600;
		font-family: var(--font_secondary);
		margin-bottom: 20px;
		color: var(--color_dark_gray);
	}
	p {
		font-size: 18px;
		line-height: 1.6;
		font-weight: 400;
		font-family: var(--font_secondary);
		margin-bottom: 20px;
		color: var(--color_dark_gray);
	}
	ul {
		padding-left: 20px;
		margin-top: 20px;
		li {
			font-size: 18px;
			line-height: 1.6;
			font-weight: 400;
			font-family: var(--font_secondary);
			color: var(--color_dark_gray);
			padding-bottom: 10px;
		}
	}
	button {
		p {
			margin-bottom: 0;
		}
	}
	.btn_box {
		margin-top: 20px;

		:global(.text_500) {
			margin-bottom: 0px;
		}
	}
	iframe {
		width: 100%;
	}
}
.agendaPopup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 9999;
	overflow: auto;
	overflow: hidden;
	display: none;

	.content {
		margin-left: auto;
		width: 80%;
		height: 100vh;
		background-color: var(--color_secondary);
		padding: 40px 50px;
		position: relative;
		transform: translateX(100%);
		transition: all 0.4s ease-in-out;
		overflow-y: auto;
		@media (max-width: 1199px) {
			width: 95%;
			padding: 35px 20px;
		}
		.close {
			cursor: pointer;
			position: sticky;
			top: 0px;
			right: 0px;
			margin-left: auto;
			z-index: 1;
		}

		.sessionBox {
			background-color: var(--color_gray);
			border-radius: 12px;
			padding: 20px 20px;
			margin-top: 20px;
			.sessionTime {
				// width: 8%;
				// flex: 1;
				width: max-content;
				@media (max-width: 991px) {
					width: 12%;
				}
				@media (max-width: 767px) {
					width: 100%;
					margin-bottom: 10px;
				}
				.tag {
					background-color: var(--color_blue);
					padding: 12px 18px;
					border-radius: 8px;
					width: max-content;
				}
			}
			.sessionDescription {
				// width: 92%;
				width: max-content;
				flex: 1;
				padding-left: 20px;
				@media (max-width: 991px) {
					width: 88%;
				}
				@media (max-width: 767px) {
					width: 100%;
					padding-left: 0px;
				}
				.dateFlex {
					align-items: center;
					@media (max-width: 767px) {
						flex-wrap: wrap;
					}
					p {
						margin-right: 40px;
						@media (max-width: 767px) {
							width: 100%;
							margin-bottom: 10px;
							margin-right: 0px;
							align-items: flex-start;
						}
						img {
							filter: invert(1);
							object-fit: cover;
							@media (max-width: 767px) {
								width: 6%;
								margin-top: 5px;
							}
						}
						.clock {
							filter: invert(0);
						}
						span {
							margin-left: 5px;
							margin-top: 2px;
							@media (max-width: 767px) {
								width: 90%;
							}
						}
					}
				}
				.ClientFlex {
					margin-top: 15px;
					.ClientLogo {
						// width: 5%;
						@media (max-width: 991px) {
							width: 8%;
						}
						@media (max-width: 767px) {
							width: 16%;
						}
						img {
							min-width: 40px;
							height: 40px;
							border-radius: 50%;
							object-fit: cover;
						}
					}
					.ClientDescription {
						width: 90%;
						padding-left: 10px;
						@media (max-width: 767px) {
							width: 82%;
						}
					}
				}
			}
		}
	}

	&.open {
		display: block;
		.content {
			transform: translateX(0%);
		}
	}
}
