@import "../../helpers/helpers.scss";
.TopEvents {
	.card {
		cursor: pointer;
		padding: 40px 40px;
		background-color: var(--color_secondary);
		border-radius: 20px;
		@media (max-width: 1199px) {
			padding: 25px 25px;
		}
		@media (max-width: 767px) {
			padding: 15px 15px;
			flex-direction: column-reverse;
			border-radius: 15px;
		}
		.content {
			width: 42%;
			position: relative;
			// @media (max-width: 1199px) {
			// 	width: 54%;
			// }
			@media (max-width: 767px) {
				width: 100%;
				margin-top: 30px;
			}
			h2 {
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				overflow: hidden;
				height: 115px;
				@media (max-width: 991px) {
					// height: 79px;
				}
			}
			.Eventlogo {
				height: 120px;
				@media (max-width: 767px) {
					height: 90px;
					position: absolute;
					top: -130px;
					left: 10px;
				}
			}
			.tag {
				background-color: var(--color_blue);
				padding: 8px 12px;
				border-radius: 8px;
				width: max-content;
				margin-top: 30px;
				letter-spacing: 1px;
				@media (max-width: 767px) {
					margin-top: 0px;
				}
			}
			.dateFlex {
				align-items: center;
				flex-wrap: wrap;
				p {
					margin-right: 20px;
					img {
						filter: invert(1);
					}
					span {
						margin-left: 5px;
						margin-top: 4px;
					}
				}
			}
		}
		.imageWrapper {
			width: 54%;
			@media (max-width: 1199px) {
				//width: 54%;
			}
			@media (max-width: 767px) {
				width: 100%;
			}
			img {
				width: 570px;
				height: 360px;
				aspect-ratio: 570 / 360;
				object-fit: cover;
				object-position: center;
				@media (max-width: 1199px) {
					height: 300px;
					width: 100%;
				}
				@media (max-width: 991px) {
					height: 250px;
				}
				@media (max-width: 767px) {
					height: 200px;
				}
			}
		}
	}
	.arrowSection {
		display: none;
		position: absolute;
		left: 40px;
		bottom: 20px;
		z-index: 1;
		@media (max-width: 767px) {
			bottom: 30px;
		}
		.customPrev,
		.customNext {
			background-color: unset;
			border: none;
			cursor: pointer;
			img {
				@media (max-width: 767px) {
					width: 35px;
				}
			}
		}
		.customPrev {
			rotate: 180deg;
		}
	}
}
