@import "../../../helpers/helpers.scss";
.Commitment {
	.flex {
		display: flex;
		justify-content: space-between;
		@include sm-down {
			flex-direction: column;
			gap: 30px;
		}
	}
	.commitmentWapper {
		position: relative;
		width: 48%;
		min-height: 370px;

		@include sm-down {
			width: 100%;
		}
		.commitmentImg {
			z-index: 1;
			height: 100%;
			border-radius: 40px;
			position: absolute;
			left: 0px;
			top: 0px;
			object-fit: cover;
			@media (max-width: 991px) {
				object-fit: cover;
				object-position: top center;
			}
			@media (max-width: 767px) {
				border-radius: 20px;
			}
		}
		.CardsDesc {
			z-index: 2;
			position: relative;
			// left: 0px;
			// top: 0px;
			height: 100%;
			padding: 40px 40px;
			display: flex;
			flex-direction: column;
			@media (max-width: 991px) {
				width: 100%;
			}
			@media (max-width: 767px) {
				padding: 30px 20px;
			}
			.btn_box {
				position: relative;
				margin-top: auto;
				max-width: fit-content;
				button {
					padding: 10px 25px 10px 50px;
				}
				span {
					pointer-events: none;
					position: absolute;
					left: 6px;
					top: 5px;
					width: 32px;
					height: 32px;
					border-radius: 50%;
					background-color: var(--color_platinum_gray);
					transition: 0.3s all;
					z-index: 1;
					display: flex;
					align-items: center;
					justify-content: center;
					img {
						transition: 0.3s all;
					}
				}
				&:hover {
					span {
						background-color: var(--color_black);
						transition: 0.3s all;
						img {
							filter: invert(1);
							transition: 0.3s all;
						}
					}
				}
			}
		}
	}
}
