@import "../../../helpers/helpers.scss";
.OurEdge {
	.OurEdgeFlex {
		.title_wrap {
			width: 40%;
			@media (max-width: 991px) {
				width: 100%;
				margin-bottom: 10px;
			}
			.titleBox {
				position: sticky;
				top: 200px;
				@media (max-width: 1199px) {
					top: 200px;
				}
			}
			h2{
				@media (max-width: 767px) {
					padding-bottom: 10px;
				}
			}
		}
		.OurEdgeHistory {
			position: relative;
			width: 58%;
			margin-top: 14px;
			@media (max-width: 991px) {
				width: 100%;
				margin-top: 0px;
			}
			.OurItem {
				position: relative;
				padding-bottom: 30px;
				@media (max-width: 767px) {
					padding-bottom: 0px;
				}
				&::before {
					content: " ";
					position: absolute;
					left: 45px;
					top: 20px;
					height: 100%;
					width: 1px;
					background-color: var(--color_platinum_gray);
					transition: 0.3s all;
					@media (max-width: 767px) {
						left: 30px;
					}
				}
				&:last-child {
					&::before {
						content: none;
					}
				}
				.OurEdgeBox {
					position: relative;
					padding: 20px 20px 40px;
					transition: 0.5s all;
					border-radius: 20px;
					@media (max-width: 767px) {
						padding: 0px 10px 20px;
					}
					.iconBox {
						position: relative;
						width: 10%;
						span {
							width: 54px;
							height: 54px;
							border-radius: 50%;
							background-color: var(--color_platinum_gray);
							transition: 0.5s all;
							@media (max-width: 767px) {
								width: 40px;
								height: 40px;
							}
							img {
								@media (max-width: 767px) {
									width: 30px;
								}
							}
						}
					}
					.contentBox {
						width: 90%;
						padding-left: 10px;
						@media (max-width: 767px) {
							padding-left: 15px;
						}
						h4 {
							transition: 0.5s all;
							
						}
						p {
							transition: 0.5s all;
							@media (max-width: 767px) {
								margin-bottom: 0px;
							}
						}
					}
				}
				&:hover {
					// &::before {
					// 	background-color: var(--color_gray);
					// 	transition: 0.3s all;
					// }
					.OurEdgeBox {
						background-color: var(--color_gray);
						border-radius: 20px;
						transition: 0.5s all;
						.iconBox {
							span {
								background-color: var(--color_primary);
								transition: 0.5s all;
							}
						}
						.contentBox {
							h4 {
								color: var(--color_white);
								transition: 0.5s all;
							}
							p {
								color: var(--color_silver_gray);
								transition: 0.5s all;
							}
						}
					}
				}
			}
		}
	}
}
