@import "../../../helpers/helpers.scss";
.mediaTeamBoxItem {
	background-color: var(--color_gray);
	padding: 40px 20px;
	border-radius: 12px;
	width: 80%;
	@media (max-width: 1199px) {
		width: 100%;
	}
	.labelTxt {
		img {
			width: 17px;
		}
		a {
			margin-left: 10px;
		}
	}
}
