@import "../../helpers/helpers.scss";
.EventsInsidePage {
	background-color: var(--color_silver);

    iframe {
		width: 100%;
		height: auto;
		aspect-ratio: 640 / 360;
	}

	.eventsMiddle {
		.eventsMiddleFlex {
			@media (max-width: 767px) {
				flex-wrap: wrap;
			}
			.eventsMiddleLeft {
				width: 67%;
				@media (max-width: 1199px) {
					width: 63%;
				}
				// @media (max-width: 991px) {
				// 	width: 55%;
				// }
				@media (max-width: 767px) {
					width: 100%;
					margin-bottom: 40px;
				}
			}
			.eventsMiddleRight {
				width: 25%;
				@media (max-width: 1199px) {
					width: 30%;
				}
				@media (max-width: 991px) {
					width: 35%;
				}
				@media (max-width: 767px) {
					width: 100%;
				}
			}
		}
	}
}
