@import "../../helpers/helpers.scss";
.eventsPage {
	background-color: var(--color_silver);
	.topBg {
		// background-image: url("../../../../public/img/events/topBg.png");
		// background-repeat: no-repeat;
		// background-size: cover;
		// background-position: top left;
	}
	.bottomBg {
		// background-image: url("../../../../public/img/events/topBg.png");
		// background-repeat: no-repeat;
		// background-size: cover;
		// background-position: bottom left;
	}
	:global(.insightsBg){
		background-image: none !important;
    padding: 0px 60px !important;
	}
	:global(.powerBg){
		border-bottom: none !important;
		padding-bottom: 0px;
	}
}
